{% load static %} <!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Особистий кабінет</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="dashboard-card"><h1>👋 Привіт, {{ user.username }}!</h1>
    <p style="color: #7f8c8d;">Це твій особистий кабінет</p>

    <hr>

    <h3>📊 Передати показання</h3>

    <form method="post" class="styled-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="error-box">
                {% for error in form.non_field_errors %}
                    <p>⚠️ {{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="error-message">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn-submit">Відправити показання</button>
    </form>

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-logout">🚪 Вийти</button>
    </form>
</div>

</body>
</html>