{% extends 'base.html' %}
{% block content %}
    {% include 'staff/navbar.html' %}
    <div class="container mt-4">
        <h2>🏗️ Панель управління: {{ cooperative.title }}</h2>

        <div class="row mt-4">
            {% if user_role == 'chairman' %}
                <div class="col-md-4">
                    {% include 'staff/cards/tariffs.html' %}
                    {% include 'staff/cards/streets.html' %}
                </div>
                <div class="col-md-8">
                    {% include 'staff/cards/registrations.html' %}
                </div>
            {% else %}
                <div class="col-12">
                    <div class="jumbotron bg-white shadow-sm border text-center">
                        <h1 class="display-4">Вітаємо, {{ user.username }}!</h1>
                        <p class="lead">Ваш доступ обмежений фінансовим обліком та голосуваннями кооперативу.</p>
                        <hr class="my-4">
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-primary btn-lg mx-2" href="{% url 'staff_readings' %}" role="button">📊 Перейти до показників</a>
                            <a class="btn btn-info btn-lg mx-2" href="{% url 'staff_voting' %}" role="button">🗳️ Список голосувань</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}