{% extends 'base.html' %}
{% block content %}
    {% include 'staff/navbar.html' %}
    <div class="container mt-4">
        <div class="card shadow-sm mx-auto" style="max-width: 600px; border-radius: 15px;">
            <div class="card-header bg-warning font-weight-bold">📝 Редагування: {{ membership.user.username }}</div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Прізвище</label>
                            {{ u_form.last_name }}
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Ім'я</label>
                            {{ u_form.first_name }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Телефон</label>
                            {{ u_form.phone_number }}
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Логін</label>
                            {{ u_form.username }}
                        </div>
                    </div>

                    <hr>

                    <div class="form-group">
                        <label>Вулиця</label>
                        {{ m_form.street }}
                    </div>

                    <div class="form-group">
                        <label>Номер ділянки</label>
                        {{ m_form.plot_number }}
                    </div>

                    <div class="form-group">
                        <label>Роль у системі</label>
                        {{ m_form.role }}
                    </div>

                    <button type="submit" class="btn btn-success btn-block mt-4 py-2">Зберегти зміни</button>
                    <a href="{% url 'staff_manage' %}" class="btn btn-link btn-block text-muted">Скасувати</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}