{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Особистий кабінет</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="container">
    <h1>Привіт, {{ user.username }}! 👋</h1>
    <p>Ваші лічильники:</p>

    {% if meters %}
        {% for meter in meters %}
            <div class="meter-card">
                <div class="meter-title">⚡ {{ meter.get_type_display }} (№ {{ meter.number }})</div>
                <div class="meter-info">
                    Адреса: {{ meter.membership.street.name }}, буд. {{ meter.membership.plot_number }}
                </div>
               <a href="{% url 'submit_reading' meter.id %}" class="btn">Передати показник</a>
            </div>
        {% endfor %}
    {% else %}
        <p class="empty">У вас поки немає зареєстрованих лічильників.</p>
    {% endif %}
</div>

</body>
</html>